_pycache_/
.ipynb_checkpoints/

INGV_Volcanic_Eruption_Prediction/data/
Titanic_Machine_Learning_from_Disaster/.ipynb_checkpoints/
House_Prices_Advanced_Regression_Techniques/.ipynb_checkpoints/
Digit_Recognizer/.ipynb_checkpoints/
